<!--------------------------inicio do código do menu-------------------------->
<div style="height: 100vh;">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span><a routerLink="/" mat-button><img class="logo" src="assets/img/barbagb.png" alt="CavanhaMan" width="120"></a></span>
        <span class="example-spacer"></span>
        <div fxShow="true" fxHide.lt-md="true" *ngIf="showNavBar"><!-- Menu expandido -->
          <a routerLink="/gibi" mat-button><mat-icon>import_contacts</mat-icon>Gibi</a>
          <a routerLink="/editora" mat-button><mat-icon>store</mat-icon>Editora</a>
          <a routerLink="/categoria" mat-button><mat-icon>group_work</mat-icon>Categoria</a>
          <a routerLink="/cliente" mat-button><mat-icon>person</mat-icon>Cliente</a>
          <a class="nav-link" (click)="onLogout()" mat-button><mat-icon>highlight_off</mat-icon>Logout</a>
        </div>
        <div>
          <!-- <a routerLink="signin" class="nav-link" *ngIf="!isAuth()" mat-button><mat-icon>fingerprint</mat-icon>Login</a> -->
          <div class="nav-iten active" *ngIf="!isAuth()">
            <a routerLink="signin" class="nav-link" mat-button class="menuzao"><mat-icon>fingerprint</mat-icon>Login</a>
          </div>
          <!-- <div class="nav-iten active" *ngIf="isAuth()">
            <a class="nav-link" (click)="onLogout()">Logout</a>
          </div> -->
        </div>
    </mat-toolbar-row>
  </mat-toolbar>
<!-- 
  Para pegar novos ícones:
  https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/
-->
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
        <mat-nav-list><!-- Menu compacto para responsividade -->
          <a routerLink="/gibi" mat-list-item><mat-icon>import_contacts</mat-icon>Gibi</a>
          <a routerLink="/editora" mat-list-item><mat-icon>store</mat-icon>Editora</a>
          <a routerLink="/categoria" mat-list-item><mat-icon>group_work</mat-icon>Categoria</a>
          <a routerLink="/cliente" mat-list-item><mat-icon>person</mat-icon>Cliente</a>
          <hr>
          <a (click)="sidenav.toggle()" mat-list-item><mat-icon>cancel</mat-icon> Close</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
<!--------------------------fim do código do menu-------------------------->
<div class="container">
    
</div>