<!----MEU CODIGO ORIGINAL----->
<BR><BR><BR><BR>
<div style="text-align:center">
  <h1 align="center">
    <b>Gibiteca do Cavanha</b><BR>
    <img src="assets/img/vintage.png" alt="vintage" class="img-responsive" /><BR>
  </h1>
</div>
<BR><BR><BR><BR><BR>
  <BR><BR>a<BR><BR><BR><BR>a<BR><BR><BR><BR>a<BR><BR><BR><BR>a<BR><BR><BR><BR>a<BR><BR><BR><BR>a<BR><BR><BR><BR>a<BR><BR><BR><BR>a<BR><BR><BR><BR>a<BR><BR><BR><BR>a<BR><BR><BR><BR>a<BR><BR><BR><BR>a<BR><BR>
<p>testar crud: http://localhost:9000/</p>
<router-outlet></router-outlet>
<!----FINAL DO MEU CODIGO ORIGINAL----->
