/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,html {margin: 0 auto;}

h1{
    color: blue;
    font-size: 50px;
    font-family: "Comic Sans MS";
}
.logo{margin-top: 5%;}
mat-toolbar {
    position: fixed;
    z-index: 100;
    width: 100%  !important;
}